
@{
    ViewBag.Title = "Avance de Aprendizaje";
    Layout = "~/Views/Shared/teacher_Layout.cshtml";
}

<div id="app">
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Informes</h3>
                        <p class="text-subtitle text-muted">Avance de aprendizajes</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "Index", "Docente")</li>
                                <li class="breadcrumb-item active" aria-current="page">Avance</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <section class="section">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4>Cantidad de actividades desarrollados por curso</h4>
                            </div>
                            <div class="card-body">
                                <div id="actividades-desarrolladas"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>Sastifacción de estudiante por actividad</h4>
                            </div>
                            <div>
                                <div id="satisfaccion-actividad"></div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-6 mb-1">
                                        <h4>Avance de Competencias</h4>                                        
                                    </div>

                                    <div class="col-lg-5 mb-1">
                                        <div class="form-group">
                                            <select class="choices form-select">
                                                <optgroup label="Curso 1">
                                                    <option value="romboid">Competencia 1</option>
                                                    <option value="trapeze">Competencia 2</option>
                                                    <option value="triangle">Competencia 3</option>
                                                    <option value="polygon">Competencia 4</option>
                                                </optgroup>
                                                <optgroup label="Curso 2">
                                                    <option value="red">Competencia 1</option>
                                                    <option value="green">Competencia 2</option>
                                                    <option value="blue">Competencia 3</option>
                                                    <option value="purple">Competencia 4</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="avance-competencias"></div>
                            </div>
                            <div class="card-body">
                                <p>Se considera a aquellos alumnos que sacaron AD o A en ls competencias</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>Progreso de notas por mes</h4>
                            </div>
                            <div class="card-body">
                                <div id="progreso-notas"></div>
                            </div>
                        </div>
                    </div>
                </div>                
            </section>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Content/ApexCharts/js");
}
